<div class="container">
  <div class="ui card">
    <h1>{{ title }}</h1>
    <ul class="list">
      <li *ngFor="let name of names">{{name}}</li>
    </ul>
    <div class="add-name-container">
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        [value]="newName"
        (input)="updateNewName(addMemberInput.value)"
      />
      <button (click)="addNewName()">Add</button>
    </div>
    <div class="input-container">
      <input
        #numbTeams
        type="number"
        placeholder="# of teams"
        (input)="updateTeams(numbTeams.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
  <div *ngIf="teams.length" class='teams-container ui card'>
   <app-team
    *ngFor='let team of teams; let i = index'
    [team]="team"
    [index]='i' 
   ></app-team>
  </div>
</div>